/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
Name : style.css
Assignment : 01
Group members : Alvin Long, Thanishque Harshaa
UCIDs : 30184369, 30171412
Submission : Feb 5, 2024
File description : This file will be used in the next assignment for styling. For now, you can
create an empty file
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
*/